# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
# db.sqlite3
db.sqlite3-journal
media/

# Django environment variables
# .env
# .env.dev
# .env.prod
# .env.prod.db

# Python
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Frontend
frontend/node_modules/
frontend/.DS_Store
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.idea
frontend/.vscode
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp
*.swo
staticfiles/
# OS specific
.DS_Store
.env.local
.env.development.local
.env.development
.env.test.local
.env.production.local 
.env.dev
.env.test
.env.prod
